<header id="header" class="header d-flex align-items-center" {% if request.Path != "/" %} style="background-color:#333333; position:relative;" {% endif %}>
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="/" class="logo d-flex align-items-center"> 
      {% include 'snippet' snippet_name:'Header Text or Logo' %}
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    {% assign primary_nav = weblinks["Default"] %}
    {% if primary_nav %}
    <nav id="navbar" class="navbar navbar-expand-lg">
        <ul>
            {% for link in primary_nav.weblinks %}
            {% unless forloop.first %}
            <li></li>
            {% endunless %}
            {% if link.display_page_child_links %}
            {% if link.url != null %}
            {% assign sublinks = sitemap[link.url].children %}
            {% endif %}
            {% else %}
            {% assign sublinks = link.weblinks %}
            {% endif %}
            <li class="nav-item {% if sublinks.size > 0 -%}dropdown{%- endif -%}">
              <style>
                a:not(.btn):hover {
                  text-decoration: none;
                }
              </style>
                <a class="nav-link {% if sublinks.size > 0 -%}dropdown-toggle{%- endif -%}" aria-label="{{ link.name | escape }}"
                  style="color:white;"
                  aria-roledescription = "link"
                  {% if sublinks.size > 0 -%} href="#" 
                    id="navbarDropdown"
                    data-bs-toggle="dropdown"
                  {%- else -%}
                    href="{{ link.url | escape }}" 
                  {%- endif -%} 
                  {%- if link.Open_In_New_Window %} target="_blank" {% endif -%} 
                  {%- if link.nofollow %}  rel="nofollow" {% endif -%} 
                  {%- if link.tooltip %} title="{{ link.tooltip | escape }}" {% endif %}>
                  {%- if link.image -%}
                    {%- if link.image.url  -%}
                      {%- if link.image.url.first == '.' -%}
                      <span class="{{ link.image.url | split:'.' | join }}" aria-hidden="true"></span>
                    {%- endif -%}
                    {%- else -%}
                      <img src="{{ link.image.url | escape }}" alt="{{ link.image.alternate_text | default:link.tooltip | escape }}" {% if link.image.width %}width="{{ link.image.width | escape }}" {% endif %} {% if link.image.height %}height="{{ link.image.height | escape }}" {% endif %} />
                    {%- endif -%}
                  {%- endif -%}
                  {%- unless link.display_image_only -%}
                    {{ link.name | escape }}
                  {%- endunless -%}
                  {%- if sublinks.size > 0 -%}
                    <span class="caret"></span>
                  {%- endif -%}
                </a>

                <!-- dropdown menu-->
                {% if sublinks.size > 0 %}
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if link.name %}
                  <li>
                    <a href="{{ link.url }}" {% if link.Open_In_New_Window %} target="_blank" {% endif %} {% if link.nofollow %}rel="nofollow" {% endif %} {% if link.tooltip %}title="{{ link.tooltip | escape }}" {% endif %}>{{ link.name | escape }}</a> 
                  </li>
                    {% endif %}
                  {% for sublink in sublinks %}
                    <li>
                      <a aria-label="{{ sublink.name | default:sublink.title | escape }}" aria-roledescription = "link" href="{{ sublink.url }}" {% if sublink.Open_In_New_Window %} target="_blank" {% endif %} {% if sublink.nofollow %}rel="nofollow" {% endif %} {% if sublink.tooltip %}title="{{ sublink.tooltip | escape }}" {% endif %}>
                          {{ sublink.name | default:sublink.title | escape }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
                {% endif %}
                <!-- end of dropdown menu-->
            </li>
            {% endfor %}
            
            <!-- {% assign search_enabled = settings['Search/Enabled'] | boolean | default:true %}
            {% if search_enabled %}
            <li class="divider-vertical" aria-hidden="true"></li>
            <li class="dropdown">
                <a id="search" class="navbar-icon" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-label="{{ snippets["Header/Search/ToolTip"] | default:resx["Search_DefaultText"] | escape }}">
                    <span class="glyphicon glyphicon-search">
                </a>
                <div class="dropdown-menu dropdown-search">
                    {% include 'Search' search_id:'q' %}
                </div>
            </li>
            {% endif %}
            <li class="divider-vertical" aria-hidden="true"></li>
            {% if website.languages.size > 1 %}
            <li class="dropdown">
                <a class="dropdown-toggle" aria-roledescription = "link" href="#" data-toggle="dropdown" aria-label="{{ website.selected_language.name | escape }}" aria-haspopup="true" aria-expanded="false" title="{{ website.selected_language.name | escape }}">
                    <span class="drop_language">{{ website.selected_language.name | escape }}</span>
                    <span class="caret"></span>
                </a>
                {% include 'Languages Dropdown' %}
            </li>
            <li class="divider-vertical" aria-hidden="true"></li>
            {% endif %}-->

            {% if user %}
            <li class="dropdown">
                {% assign username=user.fullname | escape %}
                <a href="#" class="dropdown-toggle" aria-roledescription = "link" title="{{username | default: resx['Default_Profile_name'] }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="username" style="color:white;">{{ username | default: resx['Default_Profile_name'] }}</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% assign show_profile_nav = settings["Header/ShowAllProfileNavigationLinks"] | boolean | default:true %}
                    {% if show_profile_nav %}
                    {% assign profile_nav = weblinks["Profile Navigation"] %}
                    {% if profile_nav %}
                    {% for link in profile_nav.weblinks %}
                    <li>
                        <a aria-label="{{ link.name | escape }}" aria-roledescription = "link" href="{{ link.url | escape }}" title="{{ link.name | escape }}">{{ link.name | escape }}</a>
                    </li>
                    {% endfor %}
                    {% endif %}
                    {% else %}
                    <li><a aria-label="{{ snippets["Profile Link Text"] | default:resx["Profile_Text"] | escape }}" aria-roledescription = "link" href="{{ sitemarkers['Profile'].url | escape }}">{{ snippets["Profile Link Text"] | default:resx["Profile_Text"] | escape }}</a></li>
                    {% endif %}
                    <li class="divider" role="separator" aria-hidden="true"></li>
                    <li>
                        <a aria-label="{{ snippets["links/logout"] | default:resx["Sign_Out"] | escape }}" aria-roledescription = "link" href="{% if homeurl%}/{{ homeurl }}{% endif %}{{ website.sign_out_url_substitution }}" title="{{ snippets["links/logout"] | default:resx["Sign_Out"] | escape }}">
                            {{ snippets["links/logout"] | default:resx["Sign_Out"] | escape }}
                        </a>
                    </li>
                </ul>
            </li>
            {% else %}
            <li>
                <a aria-label="{{ snippets["links/login"] | default:resx["Sign_In"] | escape }}" aria-roledescription = "link" href="{% if homeurl%}/{{ homeurl }}{% endif %}{{ website.sign_in_url_substitution }}">
                    {{ snippets["links/login"] | default:resx["Sign_In"] | escape }}
                </a>
            </li>
            {% endif %}
          </ul>
        {% editable primary_nav %}
      </nav>
      {% endif %}
    </div>
</header>